<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijoc-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `hijoc-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijocElement extends Polymer.Element {
      static get is() { return 'hijoc-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijoc-element'
          }
        };
      }
    }

    window.customElements.define(HijocElement.is, HijocElement);
  </script>
</dom-module>
